:root {
    // brand colors
    --c-brand: #004E48; // BCC Color 600
    --c-brand-light: #437571; // BCC Color 500
}

html.dark {
  // brand colors
  --c-brand: #3A8F76; // Sinbad 500
  --c-brand-light: #5CAB91; // Sinbad 400
}

.site-name  {
  display: none;
}

.sidebar-heading {
  text-transform: capitalize;
}
