$vp-font: 'Archivo, sans-serif';
$vp-font-heading: 'Archivo, sans-serif';
$vp-font-mono: 'Fira Code, monospace';

/* Workaround for breaking styles introduced by PrimeVue */
.theme-container .vp-sidebar {
  box-sizing: content-box !important;
}